@{
    ViewData["Title"] = "Portfolyo Sitesine Hoşgeldiniz";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/site.css">
    <script src="~/js/site.js"></script>


    <title>Page Title</title>
</head>
<body>





    <form>
        <div class="kisisel_bilgiler">
            <h2>Kisisel Bilgiler</h2>
            <table>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label for="adInput">Adinizi giriniz</label>
                        </td>
                        <td>
                            <input required type="text" placeholder="Adinizi buraya girin" id="adInput" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="soyadInput">Soyadinizi giriniz</label>
                        </td>
                        <td>
                            <input required type="text" placeholder="Soyadınızı buraya girin" id="soyadInput" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <br />
            <h2>Iletisim bilgileri</h2>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label for="emailInput">Email giriniz</label>
                        </td>
                        <td>
                            <input required type="email" placeholder="Emailinizi buraya girin" id="emailInput" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="telInput">Tel no giriniz</label>
                        </td>
                        <td>
                            <input required type="text" placeholder="Telefon numaranizi buraya girin" id="telInput" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="addressInput">Adresinizi no giriniz</label>
                        </td>
                        <td>
                            <input required type="text" placeholder="Adresinizi buraya girin" id="addressInput" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />
            <br />
            <br />
            <br />


            <label>Medeni halinizi giriniz.</label>
            <br />
            <input type="radio" id="evli" name="medenihalInput" value="Evli" checked>
            <label for="medenihalInput">Evli</label>
            <input type="radio" id="bekar" name="medenihalInput" value="Bekar">
            <label for="bekar">Bekar</label>
        </div>



        <input type="hidden" id="hiddenInput" value="-1" />
        <input type="hidden" id="submitCount" value="0" />

        <br />
        <br />

        <div id="warningMessage"></div>
        <div class="isBilgileri">
            <div id="isBilgileri">
                <table>
                    <thead>
                        <tr>
                            <th>Isyeri ismi</th>
                            <th>Isyeri adresi</th>
                            <th>Isyeri ismi</th>
                            <th>Departman tipi</th>
                            <th>başlangıç tarihi</th>
                            <th>bitiş tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input placeholder="name" type="text"></td>
                            <td><input placeholder="address" type="text"></td>
                            <td><input placeholder="name" type="text"></td>
                            <td><input placeholder="Departmant Name" type="text"></td>
                            <td><input placeholder="start date" type="date"></td>
                            <td><input placeholder="end date" type="date"></td>
                            <td>
                                <button onclick="deleteWorkInfo(this)">Delete Row</button>
                                <button onclick="saveWorkInfo(this)">Save Info</button>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <br />
        <br />

        <div class="okulBilgileri">
            <div id="okulBilgileri">
                <table>
                    <thead>
                        <tr>
                            <th>Okul ismi</th>
                            <th>Okul adresi</th>
                            <th>Bölüm ismi</th>
                            <th>lisans tipi</th>
                            <th>başlangıç tarihi</th>
                            <th>bitiş tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="date"></td>
                            <td><input type="date"></td>
                            <td>
                                <button onclick="saveEduInfo(this)">Bilgileri kaydet.</button>
                                <button onclick="deleteEduInfo(this)">Satırı sil</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <br />
        <br />
        <br />

        <div class="dilBilgileri">
            <div id="dilBilgileri">
                <table>
                    <thead>
                        <tr>
                            <th>Dil ismi</th>
                            <th>Genel dil derecesi</th>
                            <th>Okuma Derecesi</th>
                            <th>Yazma Derecesi</th>
                            <th>Dinleme Derecesi</th>
                            <th>Konuşma Derecesi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"></td>
                            <td>
                                <select>
                                    <option value="a1">a1</option>
                                    <option value="a2">a2</option>
                                    <option value="b1">b1</option>
                                    <option value="b2">b2</option>
                                    <option value="c1">c1</option>
                                    <option value="c2">c2</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option value="a1">a1</option>
                                    <option value="a2">a2</option>
                                    <option value="b1">b1</option>
                                    <option value="b2">b2</option>
                                    <option value="c1">c1</option>
                                    <option value="c2">c2</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option value="a1">a1</option>
                                    <option value="a2">a2</option>
                                    <option value="b1">b1</option>
                                    <option value="b2">b2</option>
                                    <option value="c1">c1</option>
                                    <option value="c2">c2</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option value="a1">a1</option>
                                    <option value="a2">a2</option>
                                    <option value="b1">b1</option>
                                    <option value="b2">b2</option>
                                    <option value="c1">c1</option>
                                    <option value="c2">c2</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option value="a1">a1</option>
                                    <option value="a2">a2</option>
                                    <option value="b1">b1</option>
                                    <option value="b2">b2</option>
                                    <option value="c1">c1</option>
                                    <option value="c2">c2</option>
                                </select>
                            </td>
                            <td>
                                <button onclick="saveLangInfo(this)">Bilgileri kaydet.</button>
                                <button onclick="deleteLangInfo(this)">Satırı sil</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button onclick="addLangInfo()">Satırı tabloya ekle</button>
            </div>
        </div>



        <button id="submitPortfolio" onclick="submitForm()">Submit your portfolio.</button>
    </form>




    <div id="result">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>age</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <form>
        <button onclick="openUser()">Portfolyo olustur</button>
        <button onclick="openUser()">Portfolyolari incele</button>
    </form>



    <footer>Other Information</footer>





</body>





</html>